@model IEnumerable<Appointment>

<div class="container">
    <table class='table table-striped'>
        <tr>
            <th>AppointmentId</th>
            <th>Client</th>
            <th>Healthcare Person</th>
            <th>Start</th>
            <th>End</th>
            <th>Notes</th>
        </tr>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.Id</td>
                <td>@appointment.Client.Name</td>
                <td>@appointment.HealthcarePersonnel.Name</td>
                <td>@appointment.Start</td>
                <td>@appointment.End</td>
                <td>@appointment.Notes</td>
                
            </tr>
        }
    </table>
</div>